{
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "always",
  "plugins": ["prettier-plugin-organize-imports"]
}
